<footer id="footer" class="footer footer-layout1 text-center bg-dark">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="contact-box">
          <h6 class="contact__box-title">Our Address</h6>
          <ul class="contact__box-list list-unstyled">
            <li class="text-secondary">Manasa st. 8, Almaty, Kazakhstan </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="contact-box">
          <h6 class="contact__box-title">Social network</h6>
          <ul class="contact__box-list list-unstyled">
            <li  class="text-secondary">https://vk.com/an0ri0n</li>
            <li  class="text-secondary">https://www.instagram.com/an0ri0n</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="contact-box">
          <h6 class="contact__box-title">Contacts</h6>
          <ul class="contact__box-list list-unstyled">
            <li  class="text-secondary"><span>Email:</span><a  class="text-secondary" href="#"> sdias1133@gmail.com</a></li>
            <li  class="text-secondary"><span>Phone:</span><a  class="text-secondary" href="#"> +7(747)254-09-47</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p class="text-white" style="text-align: center">Last edit - {{date}}</p>
    <br>
  </div>
</footer>
